SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HR].[EmployeeRequest](
	[EmployeeRequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[RequestTypeId] [int] NOT NULL,
	[RequestSubject] [nvarchar](100) NOT NULL,
	[RequestDecription] [nvarchar](200) NOT NULL,
	[StatusId] [int] NOT NULL,
	[VerificationData] [datetime] NULL,
	[VerificationBy] [int] NULL,
	[Createdby] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IPAddress] [varchar](16) NOT NULL,
	[MACAddress] [varchar](16) NULL,
	[DBUpdateby] [varchar](200) NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
 CONSTRAINT [pk_EmployeeRequest_EmployeeRequestId] PRIMARY KEY CLUSTERED 
(
	[EmployeeRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [Audits].[EmployeeRequest])
)
GO
ALTER TABLE [HR].[EmployeeRequest]  WITH CHECK ADD  CONSTRAINT [fk_EmployeeRequest_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [Personal].[Employee] ([EmployeeId])
GO
ALTER TABLE [HR].[EmployeeRequest] CHECK CONSTRAINT [fk_EmployeeRequest_EmployeeId]
GO
ALTER TABLE [HR].[EmployeeRequest]  WITH CHECK ADD  CONSTRAINT [fk_EmployeeRequest_RequestTypeId] FOREIGN KEY([RequestTypeId])
REFERENCES [HR].[RequestType] ([RequestTypeId])
GO
ALTER TABLE [HR].[EmployeeRequest] CHECK CONSTRAINT [fk_EmployeeRequest_RequestTypeId]
GO
ALTER TABLE [HR].[EmployeeRequest]  WITH CHECK ADD  CONSTRAINT [fk_EmployeeRequest_StatusId] FOREIGN KEY([StatusId])
REFERENCES [Meta].[Status] ([StatusId])
GO
ALTER TABLE [HR].[EmployeeRequest] CHECK CONSTRAINT [fk_EmployeeRequest_StatusId]
GO
