SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Meta].[City](
	[CityId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[CityName] [nvarchar](100) NOT NULL,
	[CityCode] [nvarchar](10) NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
 CONSTRAINT [pk_City_CityId] PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [Audits].[City])
)
GO
ALTER TABLE [Meta].[City]  WITH CHECK ADD  CONSTRAINT [fk_City_StateId] FOREIGN KEY([StateId])
REFERENCES [Meta].[State] ([StateId])
GO
ALTER TABLE [Meta].[City] CHECK CONSTRAINT [fk_City_StateId]
GO
