SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Meta].[Status](
	[StatusId] [int] NOT NULL,
	[StatusTypeId] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
 CONSTRAINT [pk_Status_StatusId] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [Audits].[Status])
)
GO
ALTER TABLE [Meta].[Status]  WITH CHECK ADD  CONSTRAINT [fk_Status_StatusTypeId] FOREIGN KEY([StatusTypeId])
REFERENCES [Meta].[StatusType] ([StatusTypeId])
GO
ALTER TABLE [Meta].[Status] CHECK CONSTRAINT [fk_Status_StatusTypeId]
GO
