SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Meta].[Field](
	[FieldId] [int] NOT NULL,
	[FieldTypeId] [int] NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[FieldDiv] [nvarchar](100) NOT NULL,
	[ControlTypeId] [int] NOT NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
 CONSTRAINT [pk_Field_FieldId] PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [Audits].[Field])
)
GO
ALTER TABLE [Meta].[Field]  WITH CHECK ADD  CONSTRAINT [fk_Field_FieldTypeId] FOREIGN KEY([FieldTypeId])
REFERENCES [Meta].[FieldType] ([FieldTypeId])
GO
ALTER TABLE [Meta].[Field] CHECK CONSTRAINT [fk_Field_FieldTypeId]
GO
