SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Project].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[TaskName] [nvarchar](100) NULL,
	[TaskDetail] [nvarchar](max) NULL,
	[EmployeeId] [int] NOT NULL,
	[TaskStatusId] [int] NOT NULL,
	[Createdby] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Modifiedby] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IPAddress] [varchar](16) NOT NULL,
	[MACAddress] [varchar](16) NULL,
	[DBUpdateby] [varchar](200) NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
 CONSTRAINT [pk_Task_TaskId] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [Audits].[Task])
)
GO
ALTER TABLE [Project].[Task]  WITH CHECK ADD  CONSTRAINT [fk_Task_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [Personal].[Employee] ([EmployeeId])
GO
ALTER TABLE [Project].[Task] CHECK CONSTRAINT [fk_Task_EmployeeId]
GO
ALTER TABLE [Project].[Task]  WITH CHECK ADD  CONSTRAINT [fk_Task_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [Project].[Project] ([ProjectId])
GO
ALTER TABLE [Project].[Task] CHECK CONSTRAINT [fk_Task_ProjectId]
GO
ALTER TABLE [Project].[Task]  WITH CHECK ADD  CONSTRAINT [fk_Task_TaskStatusId] FOREIGN KEY([TaskStatusId])
REFERENCES [Project].[TaskStatus] ([TaskStatusId])
GO
ALTER TABLE [Project].[Task] CHECK CONSTRAINT [fk_Task_TaskStatusId]
GO
